a {
  margin-right: 3.2rem;
  cursor: pointer;
  background: inherit;
  div {
    background: inherit;
  }
}

.linkedin,
.github,
.instagram {
  height: 6rem;
  width: 6rem;
}

.gmail {
  height: 4.5rem;
  width: 6rem;
}
