.device {
  position: relative;
  color: black;

  div {
    background-color: #ffffff;
    border-radius: 8%;
    height: 98%;
    width: 98%;

    img {
      height: 80vh;
      z-index: 1;
    }

    main {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 15% 10px;
    }

    .appsContainer {
      width: 100%;
      height: 100%;
    }

  }

}