@import "./variables.scss";
.homeContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2.8rem;
  div {
    width: 100%;
    max-width: 70rem;
    p {
      font-size: 3.2rem;
      line-height: 4.3rem;
      background: $rainbow-background;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: rainbow 10s ease-in-out infinite;
      background-size: 400% 100%;

      @keyframes rainbow {
        0%,
        100% {
          background-position: 0 0;
        }

        50% {
          background-position: 100% 0;
        }
      }
    }

    .iconsContainer {
      height: 10.32rem;
      position: relative;
      background: $rainbow-background;
      color: transparent;
      animation: rainbow 10s ease-in-out infinite;
      background-size: 400% 100%;

      @keyframes rainbow {
        0%,
        100% {
          background-position: 0 0;
        }

        50% {
          background-position: 100% 0;
        }
      }

      display: flex;
      align-items: center;

      .mirror {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: $background;
      }

      a {
        margin-right: 3.2rem;
        cursor: pointer;
        background: inherit;
      }

      .linkedin,
      .github,
      .instagram {
        height: 6rem;
        width: 6rem;
      }

      .gmail {
        height: 4.5rem;
        width: 6rem;
      }
    }
  }
  svg {
    position: absolute;
    z-index: -1;
  }
}
