@import "./variables.scss";

.homeContainer {
  display: flex;
  padding: 10vh 20vw;


  .main {
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-right: 2rem;
    header {
      display: flex;

      img {
        border-radius: 50%;
        margin-right: 2rem;
      }

      aside {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        align-items: start;
        justify-content: center;
        padding: 1rem;

        h1 {
          font-size: 4rem;
        }

        h3 {
          font-size: 3rem;
        }
      }

    }

  article {
    flex:1;
    display: flex;
    align-items: center;
    p {
      font-size: 2rem;
      padding: 1rem;
      line-height: 4rem;
    }
  }

    .iconsContainer {
      span {
        margin:0 1rem;
      }
    }

  }


  .device {
    img {
      height: 80vh
    };
  }
}

